.sidebar{
    height: 100vh;
    background-color: white;
    position: fixed;
    top:0;
    padding-top: 80px;
    padding-left: 30px;
    width: 15%;
}
.sidebar-links img{
    width: 20px;

}
.sidebar-links{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.sidebar-link{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    cursor: pointer;
    width: fit-content;
    gap: 20px;
}
.sidebar hr{
    border: none;
        height: 1px;
        background-color: #ccc;
        width: 85%;
}

.subscribed-list h3{
    font-size: 16px;
    color: #5a5a5a;
    margin: 20px 0;

}

.subscribed-list img{
    width: 30px;
    border-radius: 50%;
   

}
.sidebar2-link{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    cursor: pointer;
    width: fit-content;
    gap: 20px;
    margin-bottom: 20px;
}   

.sidebar-small{
    width: 5%;
}

.sidebar-small p{
    display: none;
}

.sidebar-small h3{
    display: none;
}
.sidebar-small hr{
    width: 80%;
    margin-bottom: 25px;
}